body
{
	width: 100%;
	height: auto;
	margin-top: 0 auto;
	font-family: calibri;
}

section#cedula_principal div#contenido_general
{
	margin: 0 auto;
	width: 80%;
	height: auto;
	border: 1px solid #969696;
}

section#cedula_principal div#contenido_general figure#logo_institucional
{
	display: inline-block;
	margin: 0 auto;
	width: 49%;
	height: 140px;
	text-align: left;
}

section#cedula_principal div#contenido_general figure#logo_institucional img#logo
{
	display: inline-block;
	width: 200px;
	height: 110px;
	padding-left: 25px;
	padding-top: 15px;
}

section#cedula_principal div#contenido_general span#contenido_direccion
{
	float: right;
	margin: 0 auto;
	width: 49%;
	height: 140px;
	text-align: right;
}

section#cedula_principal div#contenido_general span#contenido_direccion h2#titulo_direccion
{
	padding-right: 30px;
	padding-top: 20px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_cedula
{
	display: block;
	margin: 0 auto;
	width: 100%;
	height: 25px;
	text-align: center;
	background-color: #CEFA00;
	border-bottom: 1px solid #7A7A7A;
	padding-top: 6px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_cedula a#titulo_cedula
{
	font-size: 17px;
	font-weight: bold;
}

section#cedula_principal div#contenido_general form#cedula_informacion
{
	display: block;
	margin: 0 auto;
	width: 90%;
	height: auto;
	border: 1px solid #7A7A7A;
	text-align: center;
	margin-top: 8px;
	margin-bottom: 8px;
	text-align: right;
	font-size: 14px;
}

section#cedula_principal div#contenido_general form#cedula_informacion input
{
	color: rgb(88,88,88);
	height: 20px;
	text-align: center;
}

section#cedula_principal div#contenido_general form#cedula_informacion select
{
	color: rgb(88,88,88);
	height: 25px;
	text-align: center;
}

section#cedula_principal div#contenido_general form#cedula_informacion span
{

	display: block;
	margin-top: 5px;
	width: 100%;
}

section#cedula_principal div#contenido_general form#cedula_informacion div
{
	width: 100%
	margin: 0 auto;
}

section#cedula_principal div#contenido_general form#cedula_informacion div label
{
	font-weight: bold;
	margin-right: 15px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera 
{
	width: 100%
	margin: 0 auto;
	margin-top: 10px;
	display: block;
	margin-bottom: 15px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera span#nombre_carrera select
{
	width: 760px;
	margin-right: 40px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera span#nombre_periodo select
{
	width: 200px;
	margin-right: 50px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera span#nombre_periodo input
{
	width: 200px;
	margin-right: 294px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera span#nombre_tutor input
{
	width: 759px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera span#nombre_grado select
{
	width: 106.7px;
	margin-right: 25.5px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_carrera span#nombre_grado select#turno_seleccionar
{
	margin-right: 294px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos
{
	width: 100%;
	height: 25px;
	text-align: center;
	border-top: 1px solid #7A7A7A;
	border-bottom: 1px solid #7A7A7A;
	padding-top: 8px;
	font-size: 17px;
	font-weight: bold;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno
{
	width: 100%;
	text-align: left;
	height: auto;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno figure#subir_foto
{
	margin: 0 auto;
	width: 17.7%;
	text-align: left;
	display: inline-block;
	height: 260px;
	text-align: center;
	padding-top: 30px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno figure#subir_foto label
{
	margin-top: 10px;
	margin-left: 15px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno figure#subir_foto img#mostrar_foto
{
	width: 135px;
	height: 170px;
	box-shadow: 0px 0px 15px #bbb;
	margin-top: 7px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno figure#subir_foto input#foto
{
	width: 130px;
	margin:  0 auto;
	font-size: 11px;
	margin-top: 5px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno
{
	float: right;
	width: 81.8%;
	height: auto;
	padding-top: 5px;
	text-align: right;
	height: 285px;

}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_alumno input
{
	width: 559px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_matricula input
{
	width: 200px;
	margin-right: 397px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_domicilio input
{
	width: 559px;

	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_villa input
{
	width: 318px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_villa select
{
	width: 70px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_tel_casa input
{
	width: 132px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_tel_casa input#curp
{
	width: 328px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_tel_personal input
{
	width: 132px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_tel_personal select
{
	width: 120px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_tel_personal select#beca
{
	width: 70px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_correo input
{
	width: 296px;
	margin-right: 301px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_fecha_nacimiento input
{
	width: 100px;
	margin-right: 236px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_fecha_nacimiento input#date
{
	width: 140px;
	margin-right: 58px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_alumno div#llenar_datos_alumno span#nombre_lugar_nacimiento input
{
	width: 200px;
	margin-right: 397px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres
{
	width: 100%;
	text-align: right;
	height: auto;
	border-bottom: 1px solid #7A7A7A;
	padding-bottom: 8px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_padres input
{
	width: 559px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_contacto input
{
	width: 500px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_contacto input#telefono_contacto
{
	width: 132px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_sangre select
{
	width: 136px;
	margin-right: 80px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_sangre input
{
	width: 320px;
	margin-right: 218px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_padecimiento input
{
	width: 210px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_alergia input
{
	width: 210px;
	margin-right: 454px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_antecedentes select
{
	width: 559px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_datos_padres span#nombre_plantel input
{
	width: 345px;
	margin-right: 454px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo
{
	width: 100%;
	text-align: left;
	margin-top: 8px;
	height: auto;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo label#radiobotones
{
	margin-left: 38px;
}


section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo span#radios
{
	box-shadow: 0px 0px 15px #bbb;
	margin: 0 auto;
	width: 120px;
	height: 23px;
	padding-top: 5px;
	margin-bottom: 8px;
	margin-top: 8px;
	color: rgb(88,88,88);
	text-align: center;
	display: inline-block;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo span input
{
	width: 30px;
	vertical-align: middle;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo
{
	width: 100%;
	text-align: right;
	margin-top: 8px;
	height: auto;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_empresa input
{
	width: 760px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_direccion_empresa input
{
	width: 760px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_contacto_empresa input
{
	width: 260px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_contacto_empresa input#departamento_empresa
{
	width: 300px;
	margin-right: 81px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_contacto_jefe input
{
	width: 260px;
	margin-right: 38px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_contacto_jefe input#contacto_jefe
{
	width: 328px;
	margin-right: 10px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#pagina_trabajo span#nombre_puesto input
{
	width: 328px;
	margin-right: 469px;
}

section#cedula_principal div#contenido_general form#cedula_informacion div#contenido_trabajo div#boton_enviar .enviar
{
	box-shadow: 0px 0px 15px #bbb;
	margin: 0 auto;
	display: block;
	width: 130px;
	height: 25px;
	margin-top: 30px;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
}










